:root {
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
  --primary-color: #93b041;
}
/* :root,
html[data-theme="light"] {
  --first-font-color: black;
  --second-font-color: #272142;
  --first-background-color: white;
  --second-background-color: #f9f7fe;
  --navbar-background-color: #f9f7fe;
  --filter-for-img: brightness(1) contrast(1);
} */

:root,
html[data-theme="dark"] {
  --first-font-color: rgb(255, 255, 255, 0.87);
  --second-font-color: rgb(255, 255, 255, 0.6);
  --first-background-color: rgb(18, 18, 18);
  --second-background-color: rgba(128, 128, 128, 0.273);
  /* --navbar-background-color: rgb(48, 48, 48); */
  --filter-for-img: brightness(0.8) contrast(1.2);
}
img {
  filter: var(--filter-for-img);
}
body {
  background: var(--first-background-color);
  font-family: var(--default-font);
  color: var(--first-font-color);
  text-align: center;
}
h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 96px;
}
h2 {
  font-family: "Poppins", sans-serif;
  color: var(--second-font-color);
  font-size: 36px;
  font-weight: 600;
}
h3 {
  font-size: 25px;
  font-weight: 300;
  line-height: 60px;
}
.btn-purple {
  background: var(--primary-color);
  padding: 18px 30px;
  color: var(--first-background-color);
  font-size: 18px;
  margin: 20px auto 100px auto;
}
.btn:hover {
  border: 1px solid var(--primary-color);
  transition: all 200ms ease-in-out;
}
.active,
.nav-link:hover {
  color: var(--primary-color) !important;
}
.nav-link {
  color: var(--first-font-color);
}

.hero {
  background: var(--second-background-color);
  padding-top: 100px;
}
/* .hero .bg-theme {
  background: var(--navbar-background-color);
} */
.btn-launch {
  background: var(--first-background-color);
  padding: 18px 30px;
  color: var(--primary-color);
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 100px;
  border: 1px solid var(--primary-color);
}
.btn-launch:hover {
  transition: all 200ms ease-in-out;
  background: var(--primary-color);
  color: var(--first-background-color);
}
.section-heading {
  font-family: var(--heading-font);
  font-size: 64px;
  font-weight: 700;
  margin: 40px auto 40px auto;
}
.section-img {
  margin: 25px auto 25px auto;
}
.section-text {
  color: var(--font-color);
  line-height: 30px;
  opacity: 70%;
  font-size: 16px;
}

.section-content {
  margin-left: 30px;
  margin-top: 120px;
  text-align: left;
}
.about-content-head {
  font-size: 18px;
}
.content {
  padding: 100px 10px 100px 10px;
}

.content .section-heading {
  line-height: 1.2;
}

.work-content {
  font-size: 14px;
  line-height: 36px;
}
footer .bg-grey {
  background: var(--second-background-color);
}
footer .contact-mail {
  display: block;
  text-decoration: none;
  font-size: 24px;
  margin: 30px auto 20px auto;
  color: var(--first-font-color);
  font-weight: 400;
}
footer .fa-brands {
  text-decoration: none;
  color: var(--first-font-color);
  font-size: 25px;
}
footer .fa-brands:hover {
  color: var(--primary-color);
}
.for-link {
  text-decoration: none;
  color: var(--first-font-color);
}
.for-link:hover {
  color: var(--primary-color);
}
@media (max-width: 1199px) {
  .section-heading {
    font-size: 35px;
  }
}

@media (max-width: 991px) {
  .section-content {
    margin-top: 20px;
  }
  .btn-launch {
    margin-bottom: 50px;
  }
  .content .btn-purple {
    margin: 10px auto 20px auto;
  }
  .content .section-content {
    text-align: center;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 50px;
  }
  h3 {
    line-height: 1.5;
    font-size: 20px;
  }
  .section-img {
    display: none;
  }
  .section-content {
    margin: 10px;
    text-align: center;
  }
  .section-heading {
    margin: 20px auto 20px auto;
  }
  .btn-launch {
    margin-bottom: 20px;
  }
}
@media (max-width: 301px) {
  .btn-purple {
    margin: 5px auto 5px auto;
    padding: 15px 15px;
  }
} ;
