:root {
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
  --font-color: #272142;
  --primary-color: #6c63ff;
}
body {
  background: white;
  font-family: var(--default-font);
  color: black;
  text-align: center;
}
h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 96px;
}
h2 {
  font-family: "Poppins", sans-serif;
  color: var(--font-color);
  font-size: 36px;
  font-weight: 600;
}
h3 {
  font-size: 25px;
  font-weight: 300;
  line-height: 60px;
}
.btn-purple {
  background: var(--primary-color);
  padding: 18px 30px;
  color: white;
  font-size: 18px;
  margin: 20px auto 100px auto;
}
.btn:hover {
  border: 1px solid var(--primary-color);
  transition: all 200ms ease-in-out;
}
.active {
  color: var(--primary-color) !important;
}
.hero {
  background: #f9f7fe;
  padding-top: 100px;
}
.btn-launch {
  background: white;
  padding: 18px 30px;
  color: var(--primary-color);
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 100px;
  border: 1px solid var(--primary-color);
}
.btn-launch:hover {
  transition: all 200ms ease-in-out;
  background: var(--primary-color);
  color: white;
}
.section-heading {
  font-family: var(--heading-font);
  font-size: 64px;
  font-weight: 700;
  margin: 40px auto 40px auto;
}
.section-img {
  margin: 25px auto 25px auto;
}
.section-text {
  color: var(--font-color);
  line-height: 30px;
  opacity: 70%;
  font-size: 16px;
}

.section-content {
  margin-left: 30px;
  margin-top: 120px;
  text-align: left;
}
.about-content-head {
  font-size: 18px;
}
.content {
  padding: 100px 10px 100px 10px;
}

.content .section-heading {
  line-height: 1.2;
}

.work-position {
  font-size: 14px;
  line-height: 36px;
}

@media (max-width: 1199px) {
  .section-heading {
    font-size: 35px;
  }
}

@media (max-width: 991px) {
  .section-content {
    margin-top: 20px;
  }
  .btn-launch {
    margin-bottom: 50px;
  }
  .content .btn-purple {
    margin: 10px auto 20px auto;
  }
  .content .section-content {
    text-align: center;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 50px;
  }
  h3 {
    line-height: 1.5;
    font-size: 20px;
  }
  .section-img {
    display: none;
  }
  .section-content {
    margin: 10px;
    text-align: center;
  }
  .section-heading {
    margin: 20px auto 20px auto;
  }
  .btn-launch {
    margin-bottom: 20px;
  }
}
@media (max-width: 301px) {
  .btn-purple {
    margin: 5px auto 5px auto;
    padding: 15px 15px;
  }
} ;
